<footer>
  <div class="container container-footer">
    
    <div class="footer-info">

      <div class="info">
        <div class="footer-title">
          Follow Us
        </div>
        <a href="#" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-linkedin"></i></div>
          <div class="footer-title-1">linkedin</div>
        </a>
        <a href="https://www.instagram.com/Oktxip_/" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-instagram"></i></div>
          <div class="footer-title-1">Instagram</div>
        </a>
        <a href="https://github.com/Oktxip/Oktxip.github.io" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-github"></i></div>
          <div class="footer-title-1">github</div>
        </a>
      </div>
      
      <div class="info">
        <div class="footer-title">
          contact
        </div>
        <a href="mailto:Oktaiwp849@gmail.com" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-envelope"></i></div>
          <div class="footer-title-1">Oktaiwp849@gmail.com</div>
        </a>
        <a href="index.html" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-user"></i></div>
          <div class="footer-title-1">Okta Pratama</div>
        </a>
        <a href="contact.html" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-comments"></i></div>
          <div class="footer-title-1">contact</div>
        </a>
      </div>

      <div class="info">
        <div class="footer-title">
          about me
        </div>
        <div class="footer-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, sint? Eius, cum possimus molestiae nihil voluptatibus quo veritatis iure repellat sapiente architecto explicabo assumenda modi at aperiam eos, quas fugit!
        </div>
      </div>
      
    </div>
    <div class="footer-cr">
      Copyright &copy; by Okta Pratama
    </div>
  </div>
</footer>