<header>
  <nav class="navbar">
    <div class="container container-navbar">
      <div data-aos-duration="1500" data-aos-delay="300" data-aos="zoom-out-right" class="navbar-brand">
        <img src="assets/media/images/opwhite.png" alt="logo white" class="navbar-brand-img">
        <div class="navbar-brand-name">
          Okta Pratama
        </div>
      </div>
      <div data-aos-duration="1500" data-aos-delay="300" data-aos="zoom-out-left" class="navbar-link">
        <a href="index.html" class="navbar-link-item rotate-left"><i class="fa fa-home"></i> home</a>
        <a href="galery.html" class="navbar-link-item rotate-right"><i class="fa fa-file"></i> galerys</a>
        <a href="blog.html" class="navbar-link-item rotate-left"><i class="fa fa-home"></i> blog</a>
        <a href="contact.html" class="navbar-link-item rotate-right"><i class="fa fa-comments"></i> Contact</a>
      </div>
      <div data-aos-duration="1500" data-aos-delay="300" data-aos="zoom-out-left" class="navbar-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</header>
</body>
</html>




