// Initialize first
@import "../init";

// Import files  
@import "home";

// Add your style here
.gapper {
  width: 100%;
  padding-top: toRem(76.22);
}


.index-main {
  position: relative;

  .hero-header{
    /* Config */
    $color-bg: #000;
    $color-particle: #fff;
    $spacing: 2560px;
    $time-1: 60s;
    $time-2: 120s;
    $time-3: 180s;
    $time-4: 200s;

    /* mixins */
    @function particles($max) {
      $val: 0px 0px $color-particle;
      @for $i from 1 through $max {
        $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
      }
      @return $val;
    }

    @mixin particles($max) {
      box-shadow: particles($max);
      border-radius: 50%;
    }

    
    .particle, .particle:after {
      background: transparent;
    }

    .particle:after {
      position: absolute;
      content: "";
      top: $spacing;
    }

    .particle-1 {
      animation: animParticle $time-1 linear infinite;
      @include particles(1000);
      height: 2px;
      width: 2px;
    }

    .particle-1:after {
      @include particles(900);
      height: 2px;
      width: 2px;
    }

    @keyframes animParticle {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY($spacing * -1);
      }
    }

    .page-wrapper {
      text-align: center;
      color: #fff;
      z-index: 2;
    }

  }
  .hero-section {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
      text-align: center;
      color: #fff;
      z-index: 2;
      
      h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
        color: #fff;
      }

    }

  }

  .holder-section {
    padding: 4rem 0;
    background-color: #cccccc55;


    .project-section {
      padding: 4rem 0;
  
      .container-project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        @include media-breakpoint-down(lg){
          grid-template-columns: repeat(1, 1fr);
          gap: 2rem;
        }
  
        .project-content {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
  
          .content-title {
            color: black;
            padding: 0 1rem;
          }
  
          .content-subtitle {
            padding: 1rem;
          }
  
          .content-button {
            display: flex;
            padding: 1rem;
          }
        }
  
        .project-image {
          padding: 1rem;
          background-color: #00000063;
        }
      }
    }
  }





}

.galery-main {

  .galery-section {
    .container-galery {
      padding: 4rem 0;

      .galery-selection {
        border-bottom: toRem(1) solid grey;
        gap: 2rem;
        display: flex;
      }

      .galery-list-item {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;

        .list-active {
          display: block !important;
        }

        .list {
          display: none;
          transition: all linear .6;
        }

        .items {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          @include media-breakpoint-down(lg){
            grid-template-columns: repeat(1, 1fr);
          }
          gap: 2rem;

          .item {
            border-radius: toRem(5);
            border: toRem(1) solid rgba(0, 0, 0, 0.26);
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.266);
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
            flex-wrap: wrap;

            img {
              width: 100%;
            }

            .technologies {
              display: flex;
              gap: 1rem;
              flex-wrap: wrap;

              a:nth-child(n) {
                padding: toRem(2) toRem(18);
                border-radius: toRem(18);
                color: black;
              }

              .CSS {
                background-color: rgba(0, 99, 145, 0.405);
              }

              .SASS {
                background-color: rgba(252, 5, 124, 0.405);
              }

              .PHP {
                background-color: rgba(72, 1, 117, 0.405);
              }

              .Laravel {
                background-color: rgba(255, 0, 0, 0.405);
              }

              .Webpack {
                background-color: rgba(73, 197, 255, 0.405);
              }

              .Bootstrap {
                background-color: rgba(65, 0, 145, 0.405);
              }

              .HTML {
                background-color: rgba(255, 132, 0, 0.46);
              }

              .JavaScript {
                background-color: rgba(234, 255, 0, 0.405);
              }

              .Node {
                background-color: rgba(50, 255, 47, 0.405);
              }

              .React {
                background-color: rgba(47, 189, 255, 0.405);
              }
            }
          }
        }
      }
    }
  }

}


.contact-main {
  position: relative;

  .contact-section {
    padding: 7rem 0;

    .container-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: black;

      .form-contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        width: 28rem;
        padding: 2rem;
        background: rgba(0, 0, 0, 0);
        color: black;
        border: toRem(1) solid black;
        border-radius: toRem(5);

        .form-controller {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 0.3rem;

          .form-input {
            border: toRem(1) solid black;
            border-radius: toRem(2) toRem(10);
            padding: toRem(4) toRem(10);
            background: rgba(0, 0, 0, 0);
          }
          .form-input--textarea {
            height: 4rem;
          }
        }
      }
    }
  }
}


.blog-main {
  padding: 4rem;

  .blog-section {
    padding: 4rem 0;

    .container-blog {
      display: flex;
      padding: 4rem 0;
    }
  }
}